@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* toastify */
  --toastify-color-success: #7adffd;
  --toastify-color-progress-success: #7adffd;

  --background-color: #FBFBFB;
  --yellow: #FFF068;
  --sky-blue: #3D96A5
}

body {
  background:
          radial-gradient(circle at 0% 100%, #FBFBFB 0%, transparent 50%),
          radial-gradient(circle at 100% 0%, rgba(136, 122, 249, 0.2) 0%, transparent 50%),
          radial-gradient(circle at 100% 100%, rgba(81, 208, 240, 0.2) 0%, transparent 50%),
          radial-gradient(circle at 0% 0%, rgba(81, 208, 167, 0.2) 0%, transparent 50%);
}

@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
  }

  .container {
    @apply mx-auto px-4;
    max-width: 1280px;
  }

  .btn-custom {
    @apply min-h-[2.5rem] h-[2.5rem] px-6;
  }

  .divider:not(:empty) {
    gap: 0;
  }

  .menu-horizontal > li:not(.menu-title) > details > ul {
    padding: 0;
  }

  :where(.menu-horizontal > li:not(.menu-title) > details > ul) {
    border-radius: 0;
  }

  .tooltip-top::after {
    border-color: var(--sky-blue) transparent transparent transparent;
  }
  
  .tooltip-right::after {
    border-color: transparent var(--sky-blue) transparent transparent;
  }
  
  .tooltip-bottom::after {
    border-color: transparent transparent var(--sky-blue) transparent;
  }
  
  .tooltip-left::after {
    border-color: transparent transparent transparent var(--sky-blue);
  }

  .tooltip:before {
    border: 1px solid var(--sky-blue);
    background-color: var(--sky-blue);
    color: white;
    border-radius: 8px;
    padding: 8px;
  }
}
